.registration {
  font-family: $font-alt;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
}

.form-registration {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-registration {
  .checkbox {
    font-weight: 400;
  }

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-control:focus {
    z-index: 2;
  }

  input {
    margin: 10px 0 14px 0;
  }


  .btn-registration {
    margin-top: 10px;
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
  }

}




