.signin {
  font-family: $font-alt;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
}


.register-now {
  margin-top: 15px;
}

.register-now:hover {
  cursor: pointer;
  color: $main-color;
}






